<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :patch }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :name %><br/>
    <%= f.text_field :name %>
  </div>

  <div class="field">
      <%= f.label :title %><br/>
      <%= f.text_field :title %>
  </div>

  <div class="field">
      <%= f.label :organization %><br/>
      <%= f.text_field :organization %>
  </div>

  <div class="field">
    <%= f.label :description %> <br />
    <%= f.text_area :description %>
  </div>

  <div class="field">
      <%= f.label :display_phone %><br />
      <%= f.check_box :display_phone %>
  </div> 

  <div class="field">
    <%= f.label :area_code %><br />
    <%= f.text_field :area_code %>
  </div> 
  
  <div class="field">
      <%= f.label :prefix %><br />
      <%= f.text_field :prefix %>
  </div>
  
  <div class="field">
      <%= f.label :line_number %><br />
      <%= f.text_field :line_number %>
  </div> 

  <div class="field">
      <%= f.label :mentor %><br />
      <%= f.check_box :mentor %>
  </div> 

  <div class="actions">
    <%= f.submit "Update" %>
  </div>
<% end %>