<h2>Edit Profile</h2>

<section id="updateUserForm">
  <%= render "registrations/updateProfileForm" %>
</section>

<section id="skillsSection">
  <h1>Skills:</h1>

  <ul id="skillsList">
    <%= render @skills %>
  </ul>
</section>

  
<button id="addSkillLink">Add Skills</button>



<section id="addSkillSection">
  <%= form_for @skill, :url => { :action => "create", :controller => "skills"}, remote: true do |f|%>
  
  <%= select_tag 'select_tag', options_from_collection_for_select(Skill.all.order(:name), :id, :name) %>
  <%= submit_tag ("add this skill") %>
        
  <%end%>
</section>



<%= link_to "Back", :back %>
