    <div id="form">
    <%= form_tag users_path, method: :get, id: "search-form" do %>
        <%= label_tag :q, "Lets narrow It down" %>
        <%= text_field :search, params[:search], id: "search-field" %>
        <%= submit_tag "Search", id: "search-button" %>
    <% end %>
</div>
<br>

<div class ="content">

    <% if @users.empty? %>
        <div id="noUsersMatch"><h1>Sorry, there doesn't seem to be anyone that matches that query.</h1></div>
    <% else %>
        <% @users.each do |c| %>
            <%= link_to user_path(c.id) do %>
                <div id="userResult">
                    <div id="userName"><h2><%= c.name %></h2></br><p id="email"><%= c.email %></p></div>
                    <div id="userDesc"><p><%= c.description %></p></div>
                </div>
            <%end%> 
        <% end %>
    <% end %>
</div>