<div class="profile">
	<div id="profile-photo"><img src="http://www.funnyjunksite.com/pictures/wp-content/uploads/2012/08/Strange-Cat.jpg">
	</div> 
<div id="profile info" style="padding-top: 20px; padding-left: 10px;">
	<div id ="name"><%=@user.name %>
	</div>
	<div id ="contact">
	<% if @user.display_phone %>
    (<%= @user.area_code %>) <%= @user.prefix %> - <%= @user.line_number %>
	<br>
	<% end %>
	<%=@user.email %>
</div>

<br>
<%=@user.description %> 
</div>




<% if @user.mentor %>
    <h1>Message me about being a mentor</h1>
<%end%>

<% @skills.each do |c| %>
    <p><%= c.name%></p>
<%end%>
</div>




