  <%= form_for @skill, :url => { :action => "create", :controller => "skills"} do |f|%>

      <%= f.label "Skill Name" %>
      <%= f.text_field (:name) %>

      <%= f.submit ("Add this skill")%>
      
  <%end%>
