/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


body{
  color: black;
  background-color: white;
  font-family: sans-serif;
  margin: 0;
  display:grid;
  grid-template-columns: 250px 1fr 250px;
}

a{
  color: black;
  text-decoration: none;
}

.main {
 grid-column-start:2;
 grid-column-end:3;  
}

.nav {
  grid-column-start: 1;
  grid-column-end: 4; 
}

#navbar {
  //grid-template-columns: repeat(8, 1fr);
  background-color: #49494d;
  color: white;
  padding: 0%;
  margin: 0%;
  width: 100%;
  height: 80px;
}

.nav-button{
  display: inline-block;
  font-size: 20px;
  padding: 20px;
  margin: 20px;
}

a{
  color: white;
}

#profile-button{
  float: right;
}

#log-button{
  float:right;
}




 


