<div class="nav">
    <div id = "navbar">
      <div class="nav-button"> <%= link_to "Home", pages_home_path %> </div>
      <div class="nav-button"> <%= link_to "Events", pages_events_path %> </div>
      <div class="nav-button"> <%= link_to "Talent", users_path %> </div>


      <% if user_signed_in? %>
        <div class = "nav-button" id="profile-button"> <%= link_to current_user.email, edit_user_registration_path %> </div>
        <div class = "nav-button" id="log-button"> <%= link_to "Logout", destroy_user_session_path, method: :delete %> </div>
      <%else%>
        <div class="nav-button" id="profile-button"> <%= link_to "Sign_up", new_user_registration_path %> </div>
        <div class="nav-button" id="log-button"> <%= link_to "Sign_in", new_user_session_path %> </div>
      <%end%>
    </div>
  </div>
 <body>
  <div class = "main">
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
  </div>
  </body>
