<!DOCTYPE html>
<html>
 <head>
    <title>SoeDev</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: "only screen and (min-width: 401px)", 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
  </head>
   
 <%= render "layouts/navPartial"%>
 
  <body>
    <div class = "main">
    <%= yield %>
  </div>
  </body>
</html>
